@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900');
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
}

ul
{
    list-style: none;
}

button,
input,
select,
textarea
{
    margin: 0;
}

html
{
    box-sizing: border-box;
}

*,
:before,
:after
{
    box-sizing: inherit;
}

embed,
object,
audio,
video
{
    max-width: 100%;
    height: auto;
}

iframe
{
    border: 0;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th
{
    padding: 0;

    text-align: left;
}

html
{
    font-size: 62.5%;

    overflow: auto;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
}

body
{
    font-family: 'Noto Sans JP', YuGothic, 'Yu Gothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', Meiryo, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    font-style: normal;
    line-height: 1; 

    position: relative;

    overflow-x: hidden;

    width: 100%;

    word-wrap: break-word;

    color: #707070;

    -webkit-text-size-adjust: 100%;
}
body .button,
body a,
body .button::before,
body a::before,
body .button::after,

body a::after
{
    box-sizing: border-box;

    transition: all .3s;
}
body a
{
    text-decoration: none;
}
body a:hover
{
    cursor: pointer;
}
body img
{
    display: block;

    border: none;
}
body input,
body button,
body textarea,
body select
{
    margin: 0;
    padding: 0;

    border: none;
    border-radius: 0;
    outline: none;
    background: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

header
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex; 

    padding: 24px 0;

    border-bottom: 1px solid #ECEFF1;
}
header nav
{
    font-size: 16px;

    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;

    padding-left: 2%; 

    align-items: center;
}
header nav h1
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;

    width: 200px;
}
header nav h1 img
{
    height: 15px;
    margin-top: 3px;
}
header nav .ttl a
{
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    font-weight: bold; 

    color: #222222;
}
header nav .ttl span
{
    font-size: 70%;

    padding: 0 5px 0 10px;
}
header nav a
{
    font-size: 14px; 

    padding-right: 20px;

    color: #707070;
}
header form
{
    position: relative;

    width: 70%;
    margin: 0 2.5%;
}
header form input,
header form button,
header form textarea,
header form select
{
    margin: 0;
    padding: 0;

    border: none;
    border-radius: 0;
    outline: none;
    background: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
header form input
{
    font-size: 14px; 

    width: 100%;
    padding: 2% 2% 2% 4%;

    color: #584d4d;
    border-radius: 4px;
    background-color: #ECEFF1;
}
header form input:placeholder-shown
{
    font-size: 90%;
}
header form i
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5%; 
    color: #222222;
}

footer
{
    font-family: 'Karla', sans-serif;

    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;

    padding: 10px;

    border-top: 1px solid #ECEFF1;

    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767px)
{

}

.footer__pages
{
    font-size: 75%;

    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;

    width: 90%;
    margin: 0 auto;

    justify-content: space-between;
}
.footer__pages__anchor a
{
    font-weight: normal; 
    font-style: normal;

    color: #707070;
}

#opening
{
    position: relative; 

    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;
    display: -ms-flexbox;
    /*--- IE10 ---*/

    height: 400px;
    margin-bottom: 32px;

    border-bottom: 1px solid #ECEFF1;
    background-image: url(https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-position: center;
    background-size: cover;
    /*IE10*/

    align-items: center;
    -ms-flex-align: center;
}
#opening .heading
{
    position: relative;
    z-index: 5; 

    width: 95%;
    min-width: 1000px;
    margin: 0 auto;

    color: #222222;
}
#opening .heading h2
{
    font-family: 'Karla', sans-serif;
    font-size: 45px;
    font-style: normal;
    color: #ffffff;
    /*--- IE10 ---*/
    line-height: 1.2;

    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;
    display: -ms-flexbox;

    margin-top: -15px; 
    /*IE10*/

    align-items: center;
    -ms-flex-align: center;
}
#opening .heading p
{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}
#opening .heading form
{
    position: relative; 
    margin-top: 1.5%;
}
#opening .heading form input,
#opening .heading form button,
#opening .heading form textarea,
#opening .heading form select
{
    margin: 0;
    padding: 0;

    border: none;
    border-radius: 0;
    outline: none;
    background: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
#opening .heading form input
{
    font-size: 14px;

    width: 100%;
    padding: 2% 2% 2% 4%;

    color: #707070;
    border: 1px solid #222222; 
    border-radius: 4px;
    background-color: #fff;
}
#opening .heading form input:placeholder-shown
{
    font-size: 14px;
}
#opening .heading form i
{
    position: absolute;
    top: 50%;
    left: 1.5%;
    transform: translateY(-50%); 

    color: #222222;
}
#opening .heading a
{
    font-size: 12px;

    display: block;

    margin-top: 1.5%; 

    color: #fff;
}
#opening .heading a:hover
{
    text-decoration: underline;
}
#opening .heading a i
{
    margin-right: 5px;
}
#opening .overlay
{
    display: none;
    position: absolute;
    top: 0;

    width: 100%;
    height: 500px; 

    background-color: rgba(0, 0, 0, .5);
}

.index
{
    width: 95%;
    max-width: 1440
    px;
    margin: 0 auto;
    padding: 32px 0;
}
.index h1
{
    font-weight: normal;
}
.index__works
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;

    flex-wrap: wrap;
    justify-content: space-between;
}
.index__works::after
{
    display: block;

    width: 30%; 

    content: '';
}
.index__works__detail
{
    width: 30%;
    min-width: 30%;
    margin-bottom: 50px;
}
.index__works__detail__figure
{
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    padding-top: 56%;

    border: 1px solid #ECEFF1;
}
.index__works__detail__figure img
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: auto;

    transform: translate(-50%, -50%);
}
.index__works__detail--ttl
{
    font-size: 130%;
    font-weight: 400;

    padding-top: 24px;
}
.index__works__detail--ttl a
{
    color: #222222;
}
.index__works__detail--tag
{
    font-family: 'Roboto', sans-serif;
    font-size: 90%;

    padding: 8px 0;
}
.index__works__detail--tag span
{
    line-height: 2;

    margin-right: 8px;

    color: #999;
}
.index__works__detail--tag a::before
{
    content: '#';
}
.index__works__detail--designer a
{
    text-decoration: underline;

    color: #707070;
}
.index__works__detail--designer::before
{
    font-family: 'Roboto', sans-serif;
    font-size: 80%; 

    padding-right: 8px;

    content: 'Desinged By';
}
.index__works__detail--url
{
    margin-top: 24px;
}
.index__works__detail--url a
{
    display: block;
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;

    width: 100%;
    height: 40px;

    color: #fff; 
    background-color: #e1306c;

    justify-content: center;
    align-items: center;
}
.index__works__detail__flex
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;

    justify-content: space-between;
    align-items: center;
}

.sub
{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 40px; 
    padding: 40px 64px;
}
.sub__cnt h2
{
    font-size: 40px;

    color: #222222;
}
.sub__cnt h3
{
    font-size: 16px;

    color: #222222;
}
.sub__cnt p
{
    font-size: 16px;
    line-height: 2;

    padding-top: 24px;
}
.sub__cnt__designer
{
    font-size: 16px; 

    padding: 24px 0;
}
.sub__cnt__designer a
{
    color: #707070;
}
.sub__cnt__designer a::before
{
    padding-right: 5px; 

    content: 'by';
}
.sub__cnt__figure
{
    width: 100%;
}
.sub__cnt__figure img
{
    width: 100%;
}
.sub__cnt__about
{
    padding: 45px 0 0;
}
.sub__cnt__extra,
.sub__cnt__extra--cat
{
    margin-top: 0px;
}
.sub__cnt__extra a,
.sub__cnt__extra--cat a
{
    display: inline-block;

    margin-top: 24px;
    margin-right: 8px;
    padding: 16px 24px;

    color: #ffffff; 
    border-radius: 4px;
    background-color: #222222;
}
.sub__cnt__extra a::before,
.sub__cnt__extra--cat a::before
{
    content: '';
}
.sub__cnt__extra--cat a
{
    padding: 0 0; 

    background-color: #fff;
}
.sub__cnt__extra--cat a::before
{
    content: '';
}
.sub__cnt__add
{
    margin-top: 45px;
}
.sub__cnt__add__figure
{
    width: 100%; 
    margin-top: 45px;
}
.sub__cnt__add__figure img
{
    width: 100%;
}

.alist
{
    margin-top: 45px;
    padding-bottom: 45px;
}
.alist__head
{
    padding: 45px 0;

    text-align: center;
}
.alist__head h1
{
    font-size: 30px;

    padding-bottom: 45px; 

    color: #222222;
    border-bottom: 1px solid #ECEFF1;
}
.alist__cnt
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;

    width: 80%;
    margin: 0 auto;

    flex-wrap: wrap;
}
.alist__cnt a
{
    display: block;

    margin-right: 30px;
    margin-bottom: 30px; 
    padding: 10px 15px;

    color: #707070;
    border-radius: 4px;
    background-color: #ECEFF1;
}
.alist__cnt a:hover
{
    color: #222222;
}

.error--404 .oops,
.error--404 .page-title,
.page-header .oops,
.page-header .page-title
{
    font-family: 'Karla', sans-serif;
    font-size: 50px;

    width: 100%; 
    padding: 45px 0;

    text-align: center;

    color: #222222;
}

.error--404 .page-title,
.page-header .page-title
{
    font-size: 30px;
}

.screen-reader-text
{
    display: none;
}

.nav-links
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display:      flex;

    justify-content: center;
}

.nav-next
{
    padding-left: 20px;
}


@media screen and (max-width: 1200px) {
    header form input
    {
        padding-left: 50px;
    }
    #opening .heading form input
    {
        padding-left: 50px;
    }
}

@media screen and (max-width: 1000px) {
    #content
    {
        padding: 0 16px;
    }
    header form input
    {
        padding: 12px 10px 10px 30px;
        font-size: 12px !important;
    }
    .searchform i
    {
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        margin-top: 1px;
    }

    /*-------- Index --------*/
    #opening .heading
    {
        width: 100%;
        min-width: inherit;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 16px;
    }
    #opening .heading form i
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        margin-top: 1px;
    }
    #opening .heading form input
    {
        padding: 12px 10px 10px 30px;
        font-size: 12px !important;
    }

    /*-------- ArchivePage --------*/
    .alist__cnt
    {
        width: auto;
        margin-right: -5%;
    }
    .alist__cnt a
    {
        overflow: hidden;
        width: 45%;
        margin-right: 5%;
        text-align: center;
        margin-bottom: 14px;
        font-size: 12px;
    }

}

@media screen and (max-width: 767px) {
    /*-------- Common --------*/
    header
    {
        display: block;
        margin-bottom: 16px;
        padding: 18px 16px 16px
    }
    header nav
    {
        padding: 0 0 10px 0;
        display: block;
        text-align: right;
        margin-bottom: 10px;
    }
    header nav a
    {
        padding-right: 12px;
    }
    header nav a:last-child
    {
        padding: 0;
    }
    header nav .ttl a
    {
        font-size: 120%;
    } 
    header nav h1
    {
        float:left;
        white-space: nowrap;
        display: block;
        float: left;
        width: inherit;
        position: absolute;
    }
    header form
    {
        width: 100%;
        margin: auto;
    }
    header form input
    {
        border: 1px solid #222222;
    }
    .searchform i
    {
        left: 10px;
    }

    /*-------- Index --------*/
    #opening
    {
        margin-bottom: 16px;
        height: 224px;
    }
    #opening .heading form i
    {
        left: 10px;
    }
    #opening .overlay
    {
        height: 224px;
    }
    #opening .heading h2
    {
        font-size: 30px;
        margin-bottom: 6px;
        margin-top: 0;
    }
    #opening .heading p
    {
        margin-bottom: 10px;
    }
    .index
    {
        padding: 0;
        max-width: inherit;
        width: 100%;
    }
    .index__works__detail
    {
        width: 100%;
        min-width: inherit;
    }
    .index__works__detail--ttl
    {
        font-weight: 600 !important;
        padding-top: 10px;
    }
    .index__works__detail--tag
    {
        padding: 10px 0;
    }
    .index__works__detail--tag a
    {
        display: inline-block;
        white-space: nowrap;
    }

    /*-------- ArchivePage --------*/
    .alist
    {
        margin-top: 0;
        padding-bottom: 18px;
    }
    .alist__head
    {
        padding: 16px 0 32px;
    }
    .alist__head h1
    {
        border:none;
        padding: 0;
        font-size: 22px;
    }
 
   /*-------- PostPage --------*/
   .sub
   {
       width: 100%;
       margin-top: 0;
        border: none;
        padding: 0;
    }
    .sub__cnt__add
    {
        margin-top: 30px;
    }
    .sub__cnt__add__figure
    {
        margin-top: 30px;
    }
    .sub__cnt h1
    {
       font-size: 30px;
    }
    .sub__cnt__about
    {
        padding-top: 20px;
    }
    .sub__cnt p
    {
        font-size: 14px;
        padding-top: 10px;
        line-height: 1.6;
    }
    .sub__cnt__extra, .sub__cnt__extra--cat
    {
        margin-top: 0;
    }
    .sub__cnt h2
    {
        display: block;
        line-height: 1.5;
    }
    .sub__cnt__extra
    {
        margin-right: -5%;
    }
    .sub__cnt__extra a
    {
        width: auto;
        text-align: center;
    }
    .sub__cnt__extra a
    {
        font-size: 12px;
    }
}